ion-content {
  --background: #F4F4F4;
}

.cart-page__wrapper {
  padding: 0 16px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.cart-page__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 16px;
  width: 100%;
  padding: 8px 12px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.cart-page__photo {
  position: relative;
  width: 50%;
  background: #F4F4F4;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 93.33px;
    height: 80px;
    object-fit: cover;
  }

  .badge {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    img {
      width: 16px;
      height: 16px;
    }
  }

  .vegetarian {
    left: 3px;
    background-color: #4CAF50;
  }

  .spicy {
    left: 3px;
    background-color: #E00202;
  }
}

.cart-page__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 50%;
}

.cart-page__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #0A0A0A;
}

.cart-page__remove-btn {
  width: 24px;
  height: 24px;
  text-align: center;

  button {
    background: transparent;
    box-shadow: none;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

.cart-page__price {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #0A0A0A;
}

.cart-page__counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  gap: 8px;
  width: 88px;
  height: 36px;
  color: #0A0A0A;
  border-radius: 33554400px;
  border: none;
  background: #F4F4F4;
}

.cart-page__counter-btn {
  cursor: pointer;
  font-weight: bold;
  padding: 0 4px;
  user-select: none;
  background: none;
  box-shadow: none;
}

.counter-number {
  text-align: center;
  font-weight: bold;
  color: #0A0A0A;
  min-width: 14px;
}

.counter-icon {
  width: 16px;
  height: 16px;
}

.section-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0;
  color: #0A0A0A;
}

.cart-page__total-price-produce {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  padding-top: 8px;

  .left-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    color: #0A0A0A;
  }

  .right-strong {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #0A0A0A;
  }

  .main-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    color: #E00202;
  }
}

.items-produce {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-page__address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
}

.cart-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 60px;
  border-radius: 16px;
  background: var(--white-color);
  color: var(--pizza-name-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;

  &.active {
    border: 1px solid var(--red-color);
    background: var(--button-active-color);
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
  }
}

.cart-page__place-order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  height: 54px;
  border-radius: 16px;
  background: var(--red-color);
  color: var(--white-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;

  button {
    background: none;
  }
}




