.sign-in__wrapper {
  width: 100%;
  background: #FFFFFF;
  padding-top: 24px;
}

ion-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: none;
}

ion-item {
  --background: #F7F6F6;
  --border-radius: 8px;
  --inner-border-width: 0;
}

ion-input {
  --background: #F7F6F6;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  color: #0A0A0A;
}

.sign-btn {
  height: 54px;
  width: 100%;
  border-radius: 80px;
  background: #E00202;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFF;
}

