:root {
  --white-color: #FFFFFF;
  --pizza-name-color: #0A0A0A;
  --grammage-color: #414141;
  --description-color: #363636;
  --nutrition-color: #F4F4F4;
  --red-color: #E00202;
  --vegetarian-color: #59C088;
  --button-active-color: #FAEDED;
  --yellow-status: #FF9F11;
  --border-color: #E5E5E5;
}
