ion-header {
  background: #F4F4F4;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  z-index: 10;
  position: sticky;
  top: 0;
  height: 50px;
}

//.nav-bar__wrapper {
//  padding: 16px 24px;
//}

.nav-bar__container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.name-company {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-name {
  font-weight: 900;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0;
  color: #E00202;
}

.name-span {
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 6.5px;
  color: #0A0A0A;
}

.nav-bar__btns {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.btn {
  background: none;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

.basket-wrapper {
  position: relative;
  display: inline-block;
}

.basket-wrapper {
  position: relative;
  display: inline-block;
}

.basket-counter {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #E00202;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

