<ion-header>
    <div class="nav-bar__wrapper">
        <div class="nav-bar__container">
            <div class="logo-name">
                <div class="icon-logo">
                    <img src="assets/icon/pizza-logo.svg" alt="">
                </div>
                <div class="name-company">
                    <strong class="red-name">QUATRO</strong>
                    <span class="name-span">PIZZA</span>
                </div>
            </div>
            <div class="nav-bar__btns">
                <button class="basket-icon btn">
                    <img class="nav-icon" src="assets/icon/basket.svg" alt="">
                </button>
                <button class="login-icon btn">
                    <img class="nav-icon" src="assets/icon/login.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</ion-header>
