ion-content {
  --background: #FFFFFF;
}

.login-page__wrapper {
  padding: 0 24px;
}

.login-page__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0;
}

.login-page__logo-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-page-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.login-name {
  font-weight: 900;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
  color: #E00202;
}

.login-span {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 8.13px;
  color: #0A0A0A;
}

.login-page__tabs {
  padding: 0 24px;
}

ion-segment {
  --background: #FFFFFF;
}

ion-segment-button {
  --border-radius: 0;
  --color: #949494;
  --indicator-color: none;
  --indicator-box-shadow: none;
  border-bottom: 2px solid #E2E2E2;
  padding: 8px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  transition: all 0.25s ease-in-out;
}

ion-segment-button.segment-button-checked {
  --color: #E00202;
  border-bottom: 2px solid #E00202;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}
