@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.system.css';

ion-header{
  padding-top: env(safe-area-inset-top);
  background-color: var(--ion-color-primary);
  z-index: 10;
}

ion-toolbar {
  padding-top: env(safe-area-inset-top);
}

