ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  --background: #F4F4F4;
}

.pizza-list__wrapper {
  padding: 0 8px;
}

.pizza-list__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 16px;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.pizza-photo {
  position: relative;
  width: 50%;
  background: #F4F4F4;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 140px;
    height: 120px;
    object-fit: cover;
  }

  .badge {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    img {
      width: 16px;
      height: 16px;
    }
  }

  .vegetarian {
    left: 3px;
    background-color: #4CAF50;
  }

  .spicy {
    left: 3px;
    background-color: #E00202;
  }
}

.pizza-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 50%;
}

.pizza-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #0A0A0A;
}

.pizza-compound {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0;
  color: #9FA2A8;
}

.pizza__price-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.pizza-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #0A0A0A;
}

.pizza-order {
  border: none;
  border-radius: 33554400px;
  width: 54px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &.active {
    background-color: #F4F4F4;
    gap: 4px;
    width: 88px;
    height: 40px;
  }

  &.default {
    background-color: #E00202;
  }

  .cart-icon {
    width: 16px;
    height: 16px;
  }

  .counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    color: #0A0A0A;
  }

  .counter-btn {
    cursor: pointer;
    font-weight: bold;
    padding: 0 4px;
    user-select: none;
  }

  .counter-number {
    text-align: center;
    font-weight: bold;
    color: #0A0A0A;
    min-width: 14px;
  }

  .counter-icon {
    width: 16px;
    height: 16px;
    gap: 8px;
  }
}




