<div class="pizza-list__wrapper">
  <div class="pizza-list__main">
    <div class="pizza-list__container">
      <div class="pizza-photo">
        <img src="assets/images/broccolo-1.png" alt="">
      </div>
      <div class="pizza-info">
        <strong class="pizza-name">Broccolo</strong>
        <span class="pizza-compound">sos pentru pizza, mozzarella, broccoli, sos philadelphia</span>
        <div class="pizza__price-btn">
          <span class="pizza-price">124 lei</span>
          <button class="pizza-order">
            <img src="assets/icon/cart.svg" class="cart-icon" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
